<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<h1 th:text="'List of Owners'">List of Owners</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>
