<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<h2 th:text="'List of Owners'">List of Owners</h2>
<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>
